.file-zone {
    background-color:#f1f0f0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    box-sizing: border-box;
}

.file {
    width: 100%;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e4dede;
    padding: 10px;
    box-sizing: border-box;
}
